body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background: #849d8f;
}

.visyally-hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #323232;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #fbded8;
}

.features {
  background-image: url("../img/waffle.jpg");
  background-repeat: no-repeat;
  background-position: center;

}

.feature-item {
  text-align: left;
}

.aboutus {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.blog-news {
  font-weight: 500;
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  color: #323232;

}

.news-item a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

.footer-info {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.worktime {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone_number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-item-title {
  font-weight: 500;
  text-decoration: underline;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.features {
  color: #323232;
}




/*Сетки*/

header {
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.site-navigation li {
  margin: 10px;
}

.main-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.main-menu li {
  margin-left: 10px;
}

.contacts {
  text-align: right;
}

.features {
  width: 1146px;
  height: 310px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list li {
  width: 50%;
  display: block;
}

.news_subscribe {
  display: flex;
  justify-content: space-between;
}

.blog-news {
  display: block;
  width: 50%
}

.subscribe {
  display: block;
  width: 59%;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;

}

.main-header-logo {
  margin: 10px;
}

.new-item {
  width: 560px;
  height: 220px;
}

.subscribe {
  width: 560px;
  height: 220px;
  background: white;
  color: #5a5a5a;
}
