body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background: #849d8f;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 4px;
  margin: 0;
  align-items: flex-start;

}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

/*
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
}

.main-navigation {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #323232;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: white;
  color: #323232;
  font-weight: bold;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 12px;
  padding-left: 10px;
}

.main-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-navigation a,
.main-menu a {
  display: block;
  padding: 10px 14px;
  border-radius: 30px;
}

.features {
  background-image: url("../img/waffle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: #323232;
  width: 1145px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-size: cover;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.features-list li {
  width: 50%;
  display: block;
  max-width: 485px;
  padding-left: 80px;
}

.aboutus {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding-left: 20px;
  padding-top: 30px;
}

.new-item a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

.footer-info {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  list-style-type: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.worktime {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-item-title {
  font-weight: 500;
  text-decoration: underline;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.contacts {
  text-align: right;
}

.news_subscribe {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 20px;
}

.blog-news {
  display: block;
  width: 50%;
  height: 220px;
  max-width: 540px;
  border-radius: 10px;
  font-weight: 500;
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  color: #323232;
  padding-left: 20px;
  margin: 0;
}

.blog-news p {
  width: 300px;
}

.subscribe {
  display: block;
  width: 50%;
  max-width: 560px;
  background: white;
  color: #5a5a5a;
  border-radius: 10px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
}

.new-item {
  width: 560px;
  height: 220px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.catalog-item {
  display: block;
  width: 267px;
  margin: 27px;
}

.subscribe p {
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 35px;
  padding-bottom: 40px;
  margin: 0;
}

.subscribe-form {
  padding-left: 25px;
}

.button {
  display: inline-block;
  width: 130px;
  padding: 10px 10px;
  border-radius: 20px;
  background: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
}

.button:active {
  background: blue;
}

.contacts p {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/**********--ПОДМЕНЮ--************/

.sub-navigation {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 5px;
  position: absolute;
  width: 160px;
  background: white;
  border-radius: 5px;
}

.sub-navigation a {
  color: black;
  border-radius: 0;
  font-weight: 400;
}

.sub-navigation a:hover,
.sub-navigation a:focus {
  background-color: #fbded8;
  font-weight: 400;
}

.sub-navigation a .new-new {
  border-bottom: 1px;
}

.catalog:hover .sub-navigation {
  display: block;
}

.catalog {
  position: relative;
}

/*ПСЕВДОЭЛЕМЕНТЫ*/

.features-list .icecream {
  position: relative;
}

.features-list .icecream::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: -60px;
  top: -12px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.features-list .eco {
  position: relative;
}

.features-list .eco::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: -60px;
  top: -12px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.features-list .cow {
  position: relative;
}

.features-list .cow::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: -60px;
  top: -12px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.features-list .thermometer {
  position: relative;
}

.features-list .thermometer::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: -60px;
  top: -12px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.social-button {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  width: 43px;
  height: 43px;
}

/*FOOTER*/

.footer-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: 40px;
}

.footer-info a {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 18px;
  width: 195px;
  margin: 0;
}

.footer-copyright p {
  display: block;
}

/**********ОБРАТНАЯ СВЯЗЬ*********/

.modal {
  display: none;
  position: fixed;
  color: #323232;

  background-color: #f8f7f4;
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 10px;

  padding: 0;
  margin: 0;
}

.modal-feedback {
  width: 480px;
  height: 440px;
  padding-left: 25px;
  padding-top: 25px;

  left: 50%;
  top: 105px;;
  margin-left: -220px;
}

#login-field {
  width: 265px;
  height: 44px;
  text-align: center;
}

#email-field {
  width: 265px;
  height: 44px;
  text-align: center;
}

#comment-field {
  width: 420px;
  height: 155px;
}

.modal-close {
  position: absolute;

  left: 475px;
  top: 15px;

  width: 20px;
  height: 20px;

  cursor: pointer;

  font-size: 0;

  background-image:  url("../img/x-big.png");
  background-color: #f8f7f4;
  border: none;
  background-repeat: no-repeat;
}

.modal h2 {
  padding: 0;
  margin: 0;
}

.modal-feedback .button {
  position: absolute;
  left: 355px;
  top: 375px;
}
